body {
    background-color: black;
    font-family: 'Indie Flower', cursive;
}

.postcard {
    background-color: #ffffff;
    height: 350px;
    width: 430px;
    margin: auto;
    margin-top: 100px;
}

.up {
    float: left;
    width: 200px;
    height: 70px;
    padding-left: 15px;
}

.imagen{
    float: right;
    width: 90px;
    height: 70px;
}

img {
    height: 70px;
    width: 70px;
}

.cuerpo {
    width: 400px;
    height: 180px;
    margin: 0px;

}

.texto {
    width: 200px;
    height: 180px;
    float: left;
}

.input {
    width: 200px;
    height: 180px;
    float: right;

}
 .pie {
     padding-top: 10px;
     text-align: center;
 }